* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  background-color: slategrey;
}

.container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  background-color: indianred;
}

.header {
  background-color: cornsilk;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

h2 {
  font-size: 50px;
}

.navbar {
  display: flex;
  align-items: center;
}

a:link {
  text-decoration: none;
  margin-left: 30px;
  color: #444;
  font-size: 24px;
  display: block;
}

a:hover {
  text-decoration: underline;
  color: indianred;
}
